- cache @series do
  %h1 #{@series.name}
  %p This Star Trek Series has #{@seasons.count} seasons
  - @seasons.each do |season|
    %h2 Season #{season.season_number}
    %p #{season.episodes.count} episodes
      =render partial: 'short', collection: season.episodes, as: :episode
