.section
  .row
    .column.large-12
      %h1
        Trek With Friends
        %small Coming Soon
      %p Star Trek, in all of its forms, is a truly unique experience to behold. Beneath the personalities and characters exist very real stories that are designed to stimulate intellectual discussion. Trek With Friends is a work in progress, and is designed to faciliate small groups of individuals in meeting up to watch a couple of episodes when they desire.
      %p Friends. Fun. Star Trek. What's not to like?
.footer
  .row
    .column.arge-12
      %h6
        Created by <a href="https://github.com/allynfolksjr">Nikky Southerland</a>
        %small
          Trek With Friends is not endorsed, sponsored, or affiliated with CBS Studios Inc. or the "Star Trek" franchise.
