// $background-color: #EEE;

// $primary-yellow: #FECC00;
// $primary-blue: #3016B0;

// $light-yellow: #FFD940;
// $light-blue: #624AD8;

// $dark-yellow: #BFA330;
// $dark-blue: #3C2D84;

// $lighter-yellow: #FFE373;
// $lighter-blue: #8170D8;

// $darker-yellow: #A58500;
// $darker-blue: #190772;

$cream: #FCFFF5;
$green-grey: #D1DBBD;
$seafoam-blue: #91AA9D;
$neutral-blue: #3E606F;
$dark-blue: #193441;
